{% extends 'base.html' %}

{% block content %}
<div class="bg-primary mx-5"><h1 class="py-4 d-flex justify-content-center text-white" >SSAFY 자유게시판 입니다.</h1></div>

<div class="container">
  <div class="d-grid gap-2 d-md-block row">
  <button class="btn btn-secondary col-2 " type="button">
    <a class="text-white" href="{% url 'articles:create' %}">
      글 작성
    </a>
    <button type="button" class="btn btn-secondary m-3 col-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Login</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </button>
</div></div>

<hr>
<div class="container">
  {% for article in articles %}
  <div class="row border border-secondary border-1">
    <a href="{% url "articles:detail" article.pk %}">
      <p class="fs-4 text-black mt-4">글 제목: {{ article.title }}</p>
      <hr>
      <p class="text-black fs-6">수정시각: {{ article.updated_at }}</p>
      <p class="text-black fs-6">생성시각: {{ article.created_at }}</p>
    </a>
  </div>
  <hr>
{% endfor %}
</div>



{% endblock content %}

