{% extends 'base.html' %}

{% block content %}
    <h1>{{ user.username }}님의 프로필</h1>
    <div>
        <div>팔로잉 : {{ user.followings.count }} | 팔로워 : {{ user.followers.count }}</div>    
        {% if request.user != user %}
            <form action="{% url 'accounts:follow' user.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                    <button type="submit" class="btn btn-danger">언팔로우</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">팔로우</button>
                {% endif %}
            </form>
        {% endif %}    

    </div>
    <hr>

    <h5>{{ user.username }}님의 작성글</h5>
    <hr>
    {% for article in user.article_set.all %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    {% endfor %}
    <br><br>

    <h5>{{ user.username }}님이 좋아요한 게시물</h5>
    <hr>
    {% for article in user.like_articles.all %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    {% endfor %}

    <br><br>    
    <a href="{% url 'articles:index' %}" class="btn btn-success">목록보기</a>

{% endblock content %}
