<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>TODOS</h1>
  <div>
    {% if user.is_authenticated %}
      Hello, {{ user }}
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="로그아웃">
      </form> 
    <div>
      <form action="{% url 'todos:create' %}" method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="등록">
      </form>
    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <form action="{% url 'todos:create' %}" method="POST">
    {% endif %}
  </div>
    <ul>

    </ul>
    {% for todo in todo_list%}
      {% if not todo.isCompleted %}
      <li>
        {{ todo.task }} | 완료 여부 : {{ todo.isCompleted }}
        <a href="{% url 'todos:update' todo.pk %}">수정하기</a>
        <form action="{% url 'todos:delete' todo.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제하기">
        </form>
        <form action="{% url 'todos:done' todo.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="완료">
        </form>
      </li>
      {% endif %}
    {% endfor %}
</body>
</html>