<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <h1>계산결과</h1>
  {{ first }} + {{ second }} = {{first|add:second}} <br>
  <br>
  {{ first }} - {{ second }} = {{minus}} <br>
  <br>
  {{ first }} * {{ second }} = {{mul}} <br>
  <br>
  {{ first }} / {{ second }} = {{div}}
  {% endblock %}
  
</body>
</html>