<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서브웨이</title>
    <style>
 
    </style>
  </head>
  <body>
    <div>
      <h2>FORM</h2>
      <form> 
        <p><strong>주문서를 작성해 주십시요</strong></p>
        <label for="name"><strong>이름:</strong></label> <input id="name" class="bblock" type="text">
        <br>
        <strong>날짜:</strong>  <input class="bblock" type="text" placeholder="년도. 월. 일.">
      <h1>1. 샌드위치 선택</h1>
      <input type="radio" name="d">에그마요<br>
      <input type="radio" name="d">이탈리아 비엠티<br>
      <input type="radio" name="d">터키
      <hr>

      <h1>2. 사이즈 선택</h1>
      <div><input type="text"></div>

      <hr>

      <h1>3. 빵</h1>
      <select name="items1">
        <option value="화이트">화이트</option>
        <option value="플랫">플랫</option>
        <option value="허니오트">허니오트</option>
      </select>

      <h1>4. 야채/소스</h1>
      <input type="radio" name="cb1">토마토<br>
      <input type="radio" name="cb1">올리브<br>
      <input type="radio" name="cb1">오이<br>
      <button type="button" class="button">제출</button>
    </div>
  </form>
  
  </body>
</html>