{% extends 'base.html' %} 

{% block content %}
  <h1>DETAIL</h1>
  <hr />
  {% if article.thumbnail_img %}
    <img src="{{article.thumbnail_img.url}}" />
  {% endif %}
  {% if article.image %}
    <img src="{{article.image.url}}" />
  {% endif %}
  <span>좋아요 : {{article.like_users.count}}</span>
  {% if request.user.is_authenticated %}
  <form action="{% url 'articles:likes' article.pk %}" method="POST">
    {% csrf_token %}
    {% if requset.user in article.like_users.all %}
      <input type="submit" value="좋아요 취소">
    {% else %}
      <input type="submit" value="좋아요">
    {% endif %}
  </form>
  {% endif %}
  <div id="article-content">
    <p>글 제목 : {{article.title}}</p>
    <p>글 내용 : {{article.content}}</p>
    <p>작성자 : {{article.user}}</p>
    <p>생성시각 : {{article.created_at}}</p>
    <p>수정시각 : {{article.updated_at}}</p>
    <hr>

    {% if request.user == article.user %}
      <a href="{% url 'articles:update' article.pk %}">수정하기</a>
      <form action="{% url 'articles:delete' article.pk %}" id="delete-form">
        {% csrf_token %}
        <input type="submit" value="삭제하기" id="delete-btn" />
      </form><br>
      <hr>
    {% endif %}
    
    <a href="{% url 'articles:index' %}">목록보기</a>
    <br><br>
    <h5>Comments</h5>
    <hr>
    {% if comments %}
      <p><b>{{comments|length}}개의 댓글</b></p>
    {% endif %}

    <ul>
      {% for comment in comments %}     
        <li>
          {{comment.user}} : {{comment.content}} 
          {% if request.user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk%}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
          {% endif %}
        </li>
        <p>대댓글</p>
        {% for reply in comment.replies.all %}
        <p>{{ reply.content }}</p>
        {% endfor %}
        <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
          <input type="hidden" name="parent_pk" value="{{ comment.pk }}">
          {% csrf_token %}
          {{ comment_form }}
          <input type="submit" value="대댓글">
        </form>
      {% empty %}
        <li>댓글이 없습니다 :(</li>
      {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{comment_form}}
      <input type="submit" value="저장">
    </form>
    {% else %}
      <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
    {% endif %}
  </div>
{% endblock content %}
