{% extends 'base.html' %}

{% block content %}
<hr />
{% if hashtag_list %}
  {% for tag in hashtag_list %}
  <a href="{% url 'articles:hashtag_filter' tag.pk %}"><span class="mx-4">{{ tag.content }}</span></a>
  {% endfor %}
{% endif %}
<hr>
<h1>{{ hashtag.content }}</h1>
<hr>
{% for article in articles %}
<p>
  {% if article.thumbnail_img %}
  <img src="{{ article.thumbnail_img.url }}" alt="{{ article.thumbnail_img }}">
  {% endif %}
  [{{article.id}}] 
  <a href="{% url 'articles:detail' article.pk %}" id="article-title">
    {{article.title}}
  </a>
  - 작성자: {{article.user}}
</p>
<span>좋아요 : {{article.like_users.count}}</span>
{% if request.user.is_authenticated %}
<form action="{% url 'articles:likes' article.pk %}" method="POST">
  {% csrf_token %}
  {% if requset.user in article.like_users.all %}
    <input type="submit" value="좋아요 취소">
    <input type="submit" value="좋아요">
  {% endif %}
</form>
{% endif %}
<hr />
{% endfor %} 

<br>
<a href="{% url 'articles:index' %}">목록보기</a>
{% endblock content %}


