{% extends 'base.html' %} 

{% block content %}
  <h1>INDEX</h1>
  <a href="{% url 'articles:create' %}">작성하기</a>
  <hr />
  {% if hashtag %}
    {% for tag in hashtag %}
    <a href="{% url 'articles:hashtag_filter' tag.pk %}"><span class="mx-4">{{ tag.content }}</span></a>
    {% endfor %}
  {% endif %}
  <hr>

  {% for article in articles %}
    <p>
      {% if article.thumbnail_img %}
      <img src="{{ article.thumbnail_img.url }}" alt="{{ article.thumbnail_img }}">
      {% endif %}
      [{{article.id}}] 
      <a href="{% url 'articles:detail' article.pk %}" id="article-title">
        {{article.title}}
      </a>
      - 작성자: {{article.user}}
    </p>
    <span>좋아요 : {{article.like_users.count}}</span>
    {% if request.user.is_authenticated %}
    <form action="{% url 'articles:likes' article.pk %}" method="POST">
      {% csrf_token %}
      {% if requset.user in article.like_users.all %}
        <input type="submit" value="좋아요 취소">
        <input type="submit" value="좋아요">
      {% endif %}
    </form>
    {% endif %}
    <hr />
  {% endfor %} 

{% endblock content %}
